image: node:latest

stages:
- production

production:
  stage: production
  image: ruby:latest
  script:
  - apt-get update -qy
  - apt-get install -y ruby-dev
  - gem install dpl
  - dpl --provider=heroku --app=getir-todo --api-key=$HEROKU_API_KEY
  only:
  - master